html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p, li{
  font-size: 1.2rem;
}

.anchor-link {
  opacity: 0;
}
h2:hover .anchor-link {
  opacity: 1;
}
.anchor-link:hover{
  color: rgb(8, 110, 199);
}
.table-of-content li{
  font-size: 1rem;
  list-style: none;
}
.sidebar-link{
  list-style: none;
  margin-left: -30px;
}
.sidebar-link li{
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  display: block;
}
.sidebar-link li:hover{
  color:rgb(56, 136, 228);
  background-color: aliceblue;
  
}
.sidebar-link .active{
  color:rgb(56, 136, 228);
  font-weight: 550;
  background-color: aliceblue;
}
.sidebar-link li a{
  display: block;
}
.accordation{
  margin-top: -15px;
}
