html,
body {
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none;
}
main a{
  color: rgb(113, 113, 230);
}
main{
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.header-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text{
  font-size: 1.4rem;
  /* margin-bottom: -20px; */
  margin-left: 5px;
}

.anchor-link {
  opacity: 0;
}
h2:hover .anchor-link, h3:hover .anchor-link {
  opacity: 1;
}
.anchor-link:hover{
  color: rgb(8, 110, 199);
}
.table-of-content li{
  font-size: 0.8rem;
  list-style: none;
}
.table-of-content ul{
  margin-left: -38px;
  margin-top: 0px;
}
.table-of-content ul .submenu{
  margin-left: -30px;
}
.sidebar-link{
  list-style: none;
  margin-left: -30px;
}
.sidebar-link li{
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  display: block;
}
.sidebar-link li:hover{
  color:rgb(56, 136, 228);
  background-color: aliceblue;
  
}
.sidebar-link .active{
  color:rgb(56, 136, 228);
  font-weight: 550;
  background-color: aliceblue;
}
.sidebar-link li a{
  display: block;
}
.accordation{
  margin-top: -15px;
}
h2, h3{
  margin-bottom: -10px;
}

.error-div-sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-error{
  margin-top: -5px;
}

.content-paper{
  padding: 10px;

}
.table-of-contact-wrapper{
  position: absolute;
}
